body {
    background-color: #1f1e2e;
}

.todo {
    background-color: #27283a;
    margin: 50px;
    padding-bottom: 32px;
}

.todo-title {
    padding-top: 40px;
    color: #fcfefd;
    font-size: 28px;
}

.todo-create {
    color: #f5f5fd;
    font-size: 20px;
}

.todo-create_form  {
    padding-top: 40px;
    color: #f5f5fd;
     font-size: 20px;
}

.todo-create_form input {
    margin-left: 35px;
    color: #f5f5fd;
    background-color: #27283a;
    border-radius: 5px;
    border: 2px solid #8147b8;
}

.create-button {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #f5f5fd;
    width: 145px;
    height: 35px;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8000d6+0,e019ff+100 */
    background: rgb(128,0,214); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(128,0,214,1) 0%, rgba(224,25,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(128,0,214,1) 0%,rgba(224,25,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(128,0,214,1) 0%,rgba(224,25,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8000d6', endColorstr='#e019ff',GradientType=1 ); /* IE6-9 */
}

.card-block {
    color: #f5f5fd;
    width: 212px;
    height: 250px;
    padding: 15px;
    border-radius: 4px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e019ff+0,8000d6+100 */
    background: rgb(224,25,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(224,25,255,1) 0%, rgba(128,0,214,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(224,25,255,1) 0%,rgba(128,0,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(224,25,255,1) 0%,rgba(128,0,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e019ff', endColorstr='#8000d6',GradientType=0 ); /* IE6-9 */
    position: relative;
}

.card-block h2 {
    font-size: 20px;
    width: 180px;
    text-align: center;
    word-wrap: break-word;
}

.card-block p {
    width: 180px;
    word-wrap: break-word;
}

.important {
    position: absolute; 
    bottom: 55px
}

.card-button {
 position: absolute; 
 bottom: 15px;
}

.card-button button {
    font-size: 12px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-right: 15px;
    border: transparent;
    color: #f5f5fd;
    background-color: #29234f;
}

.card-button :nth-child(1){
    margin-left: 15px;
    background-color: #865edb;
}